# Things to ignore from the repo
################################

# Vim Swap files
*.swp

# Git merge original copies
*.orig

# Vundle manages things in vim/bundle/
vim/bundle/*

# .spl files are the binary spell files
vim/spell/*.spl

# Any compiled terminfo files but not their plaintext definitions
terminfo/*/*
!terminfo/*/*.terminfo
