# Things to ignore from the repo
################################

# Any TODO files I might leave myself
TODO*

# Vundle manages things in vim/bundle/
vim/bundle/

# .spl files are the binary spell files
vim/spell/*.spl

# the viminfo file
vim/viminfo

# netrwhist
vim/.netrwhist
