# dotfiles .gitignore

# Any TODO files I might leave myself
TODO*

# vim-plug
vim/autoload/plug.vim

# vim-plug manages things in vim/bundle/
vim/bundle/

# .spl files are the binary spell files
vim/spell/*.spl

# the viminfo file
vim/viminfo

# netrw history file
vim/.netrwhist

# ranger files
config/ranger/bookmarks
config/ranger/history
config/ranger/tagged

# zsh completion dump
zsh/.zcompdump
