# Bradford Smith
# ~/.vim/UltiSnips/sh.snippets
# updated: 11/07/2017

snippet #! "shebang" bA
#!/bin/$1sh
endsnippet

snippet "#sc|#shellcheck" "shellcheck disable=" br
#shellcheck disable=SC$1
endsnippet
